beautifulsoup4
#black
# python debug need, this threee need source install,have c ext 
typed-ast
#regex
../mrab-regex/dist/regex-2020.10.28-cp39-cp39d-linux_x86_64.whl
git+https://github.com/psf/black.git@master#egg=black

decorator
distro
flask
flask-cors
isort
jsonschema
markdown
mock
mypy
mypy-protobuf
pip-tools
protobuf
pylint
pytest
requests[socks]
send2trash
stringcase
waitress

# windows only
psutil; sys.platform == "win32"
pywin32; sys.platform == "win32"

# transitive windows dependencies
atomicwrites; sys.platform == "win32" # via pytest
colorama; sys.platform == "win32" # via pylint, pytest
