# See README.md

#black
# python debug need, this threee need source install,have c ext 
#typed-ast
# cannot have :, but can you httparch
#git+https://github.com/python/typed_ast.git@master#egg=typed_ast
#
#/workspaces/typed_ast/dist/typed_ast-1.4.1-cp39-cp39d-linux_x86_64.whl
#regex
#../mrab-regex/dist/regex-2020.10.28-cp39-cp39d-linux_x86_64.whl
#/workspaces/mrab-regex/dist/regex-2020.10.28-cp39-cp39d-linux_x86_64.whl
#git+https://bitbucket.org/mrabarnett/mrab-regex.git@mater#egg=regex
appdirs==1.4.4            # via black
astroid==2.4.2            # via pylint
atomicwrites==1.4.0 ; sys_platform == "win32"  # via -r requirements.in, pytest
attrs==20.3.0             # via jsonschema, pytest
beautifulsoup4==4.9.3     # via -r requirements.in

#dataclasses
# pip_install bazel also need databclass hwich not need. 
# and depn type_extension??
#git+https://github.com/psf/black.git#egg=black

#/Users/baojg/Downloads/code/anki/black/dist/black-20.8b2.dev52+ga522aa4-py3-none-any.whl

/Users/baojg/Downloads/code/anki/black/dist/black-20.8b2.dev52+ga522aa4.d20201218-py3-none-any.whl

# no metadatas from url below 
#https://github.com/psf/black/archive/master.zip
#black==20.8b1             # via -r requirements.in
#dist/black-20.8b2.dev52+ga522aa4-py3-none-any.whl

certifi==2020.12.5        # via requests
chardet==4.0.0            # via requests
#git+https://github.com/psf/black.git@master#egg=black
#/workspaces/black/dist/black-20.8b2.dev46+g1d8b4d7-py3-none-any.whl
click==7.1.2              # via black, flask, pip-tools
colorama==0.4.4 ; sys_platform == "win32"  # via -r requirements.in, pylint, pytest
decorator==4.4.2          # via -r requirements.in
distro==1.5.0             # via -r requirements.in
flask-cors==3.0.9         # via -r requirements.in
flask==1.1.2              # via -r requirements.in, flask-cors
fluent-syntax==0.18.1     # via -r requirements.in
idna==2.10                # via requests
iniconfig==1.1.1          # via pytest
isort==5.6.4              # via -r requirements.in, pylint
itsdangerous==1.1.0       # via flask
jinja2==2.11.2            # via flask
#jsonschema==3.2.0         # via -r requirements.in
/Users/baojg/Downloads/code/anki/jsonschema/jsonschema-3.2.1.dev317+g4003667.d20201217-py2.py3-none-any.whl
lazy-object-proxy==1.4.3  # via astroid
#importlib_metadata
#markdown==3.3.3           # via -r requirements.in
/Users/baojg/Downloads/code/anki/markdown/dist/Markdown-3.3.3-py3-none-any.whl
#https://github.com/Python-Markdown/markdown/archive/master.zip
markupsafe==1.1.1         # via jinja2
mccabe==0.6.1             # via pylint
mock==4.0.3               # via -r requirements.in
#mypy-extensions==0.4.3    # via black, mypy
/Users/baojg/Downloads/code/anki/mypy_extensions/dist/mypy_extensions-0.5.0.dev0-py2.py3-none-any.whl
mypy-protobuf==1.23       # via -r requirements.in
mypy==0.790               # via -r requirements.in
#orjson==3.4.6             # via -r requirements.in
packaging==20.8           # via pytest
#orjson==3.4.3             # via -r requirements.in
#/workspaces/orjson/orjson-3.4.3-cp39-cp39d-linux_x86_64.whl
#/workspaces/orjson/target/wheels/orjson-3.4.3-cp39-cp39d-linux_x86_64.whl
#/workspaces/orjson/target/wheels/orjson-3.4.3-cp39-cp39d-manylinux2014_x86_64.whl
pathspec==0.8.1           # via black
pip-tools==5.4.0          # via -r requirements.in
pluggy==0.13.1            # via pytest
psutil==5.8.0 ; sys_platform == "win32"  # via -r requirements.in
protobuf==3.14.0          # via -r requirements.in, mypy-protobuf
py==1.10.0                # via pytest
pylint==2.6.0             # via -r requirements.in
pyparsing==2.4.7          # via packaging
pyrsistent==0.17.3        # via jsonschema
pysocks==1.7.1            # via requests
pytest==6.2.1             # via -r requirements.in
pywin32==300 ; sys_platform == "win32"  # via -r requirements.in
requests[socks]==2.25.1   # via -r requirements.in
#regex==2020.11.13         # via black
#regex-2020.10.28-cp39-cp39d-linux_x86_64.whl
send2trash==1.5.0         # via -r requirements.in
six==1.15.0               # via astroid, flask-cors, jsonschema, pip-tools, protobuf
snakeviz==2.1.0           # via -r requirements.in
soupsieve==2.1            # via beautifulsoup4
stringcase==1.2.0         # via -r requirements.in
toml==0.10.2              # via black, pylint, pytest
tornado==6.1              # via snakeviz
#typed-ast==1.4.1          # via black, mypy
#typing-extensions==3.7.4.3  # via black, mypy
#Parse error at "'+https:/'": Expected stringEnd
#typed-ast==1.4.1          # via black, mypy
#git+https://github.com/python/typed_ast.git@master#egg=typed_ast
/Users/baojg/Downloads/code/anki/typed_ast/typed_ast-1.4.1-cp310-cp310d-macosx_10_15_x86_64.whl
#https://github.com/python/typed_ast/archive/master.zip

#typing;python_version<"3.5"
#typing
#https://github.com/python/typing/archive/master.zip


#/Users/baojg/Downloads/code/anki/typing/dist/typing-3.7.4.3-py3-none-any.whl
/Users/baojg/Downloads/code/anki/typing/typing_extensions/dist/typing_extensions-3.7.4.3-py3-none-any.whl


#typing-extensions==3.7.4.3  # via black, mypy
urllib3==1.26.2           # via requests
waitress==2.0.0b1         # via -r requirements.in
werkzeug==1.0.1           # via flask
winrt==1.0.20239.1 ; sys_platform == "win32" and platform_release == "10" and python_version == "3.8"  # via -r requirements.in
wrapt==1.12.1             # via astroid

# The following packages are considered to be unsafe in a requirements file:
pip==20.3.3               # via pip-tools
setuptools==51.1.0        # via jsonschema
#setuptools==51.1.0.post20201221  # via jsonschema
/Users/baojg/Downloads/code/anki/sip-5.5.0/sip-5.5.0-cp310-cp310d-macosx_10_15_x86_64.whl
# manually added for now; ensure it and the earlier winrt are not removed on update
winrt==1.0.20330.1; sys.platform == "win32" and platform_release == "10" and python_version >= "3.9"
